.navbar-brand{
    background-color: #6BA25B;
    color: #ffffff;
}
.navbar-brand:hover{
    background-color: #6BA25B;
    color: #ffffff;
}

.navbar{
    background-color: #D7cdba;
}

li a {
    color: #000000;
}







