<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <span class="title pad-left-right">Tree</span>
         </div>

         <div class="row">
            <div class="input-group pull-left pad-left-right col-xs-7">
   
              <input
              type="text"
              placeholder="Enter a search value"
              class="form-control"
              #searchBox
              (keypress)="search(searchBox.value)"
            />

            <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
          </div>
       </div>
       <div class="pull-right pad-left-right">
          <a class="btn btn-success" [routerLink]="['new']" >New Person</a>
    </div>
   </div>

   <div class="panel-body">
    <div class="row">
        <div class="col-xs-12">
            <app-treeitem 
            *ngFor="let tree of tree | treeFilter: term"
            [tree]="tree"></app-treeitem>
        </div>
     </div>
    </div>


