<div class="panel panel-default">
    <div class="panel-body">
      <form id="tree-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="firstName">First Name:</label>
            <input
              type="text"
              id="firstName"
              class="form-control required"
              size="120"
              max="120"
              name="firstName"
              #name="ngModel"
              [ngModel]="tree?.firstName"
              required>
          </div>
        </div>
  
        <div class="row">
            <div class="col-sm-12 form-group">
              <label for="lastName">Last Name:</label>
              <input
                type="text"
                id="lastName"
                class="form-control required"
                size="120"
                max="120"
                name="lastName"
                #name="ngModel"
                [ngModel]="tree?.lastName"
                required>
            </div>
          </div>

          <div class="row">
          <div class="col-sm-12 form-group">
            <label for="gender">Gender:</label>
            <input
              type="text"
              id="gender"
              class="form-control required"
              size="120"
              max="120"
              name="gender"
              #name="ngModel"
              [ngModel]="tree?.gender"
              required>
          </div>
        </div>

          <div class="row">
            <div class="col-sm-12 form-group">
              <label for="birthDate">Birth Date:</label>
              <input
                type="text"
                id="birthDate"
                class="form-control required"
                size="120"
                max="120"
                name="birthDate"
                #name="ngModel"
                [ngModel]="tree?.birthDate"
                pattern="\d{1,2}/\d{1,2}/\d{4}"
                required>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 form-group">
              <label for="birthPlace">Birth Place:</label>
              <input
                type="text"
                id="birthPlace"
                class="form-control required"
                size="120"
                max="120"
                name="birthPlace"
                #name="ngModel"
                [ngModel]="tree?.birthPlace"
                required>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 form-group">
              <label for="deathDate">Death Date:</label>
              <input
                type="text"
                id="deathDate"
                class="form-control required"
                size="120"
                max="120"
                name="deathDate"
                #name="ngModel"
                [ngModel]="tree?.deathDate"
                pattern="\d{1,2}/\d{1,2}/\d{4}">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 form-group">
              <label for="deathPlace">Death Place:</label>
              <input
                type="text"
                id="deathPlace"
                class="form-control required"
                size="120"
                max="120"
                name="deathPlace"
                #name="ngModel"
                [ngModel]="tree?.deathPlace">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 form-group">
              <label for="motherFirstName">Mothers First Name:</label>
              <input
                type="text"
                id="motherFirstName"
                class="form-control required"
                size="120"
                max="120"
                name="motherFirstName"
                #name="ngModel"
                [ngModel]="tree?.motherFirstName"
                >
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 form-group">
              <label for="motherLastName">Mothers Last Name:</label>
              <input
                type="text"
                id="motherLastName"
                class="form-control required"
                size="120"
                max="120"
                name="motherLastName"
                #name="ngModel"
                [ngModel]="tree?.motherLastName"
                >
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 form-group">
              <label for="fatherFirstName">Fathers First Name:</label>
              <input
                type="text"
                id="fatherFirstName"
                class="form-control required"
                size="120"
                max="120"
                name="fatherFirstName"
                #name="ngModel"
                [ngModel]="tree?.fatherFirstName"
                >
            </div>
          </div>

           <div class="row">
            <div class="col-sm-12 form-group">
              <label for="fatherLastName">Fathers Last Name:</label>
              <input
                type="text"
                id="fatherLastName"
                class="form-control required"
                size="120"
                max="120"
                name="fatherLastName"
                #name="ngModel"
                [ngModel]="tree?.fatherLastName"
                >
            </div>
          </div>


        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="imageUrl">Image URL:</label>
            <input
              type="text"
              id="imageUrl"
              class="form-control"
              size="150"
              max="255"
              name="imageUrl"
              #imageUrl="ngModel"
              [ngModel]="tree?.imageUrl"
             >
          </div>
        </div>
  
    
        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
