<div class="list-group-item clearfix">
    <div class="panel panel-default">
    <div class="panel-heading">
    <div class="row">
        <div class="col-xs-12">
          <h1>{{tree.firstName}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
          <h1>{{tree.lastName}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
          <h1>{{tree.birthDate}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
          <h1>{{tree.deathDate}}</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="pull-left">
        <div class="col-xs-12">
            <img src="{{tree.imageUrl}}" alt="" class="img-responsive">
        </div>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-xs-12">
          <div class="pull-right">
           <div class="btn-group">
            <a class="btn btn-primary" routerLink="edit">Edit</a>
           </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>