<div class="list-group-item clearfix">
    <div class="panel panel-default">
    <div class="panel-heading">
    <div class="row">
        <div class="col-xs-12">
        <h1>{{tree.firstName}} {{tree.lastName}}</h1>
        <p><b>BirthDate: </b>{{tree.birthDate}},  <b>Birth Place: </b>{{tree.birthPlace}}</p>
        <p><b>DeathDate: </b>{{tree.deathDate}},  <b>Death Place: </b>{{tree.deathPlace}}</p>
        <p><b>Father: </b>{{tree.fatherFirstName}} {{tree.fatherLastName}}</p>
        <p><b>Mother: </b>{{tree.motherFirstName}} {{tree.motherLastName}}</p>
        </div>
    </div>

      <div class="row">
        <div class="pull-left">
        <div class="col-xs-12">
            <img src="{{tree.imageUrl}}" alt="" class="img-responsive">
        </div>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-xs-12">
          <div class="pull-right">
           <div class="btn-group">
            <a class="btn btn-primary" routerLink="edit">Edit</a>
           </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>